{% for grouper, list in virtual_machines|groupby('node_type') %}
{% for server in list %}
{% set vm_name = (vm_name_prefix | default("")) +  server.name %}
{{ vm_name }} ansible_host={{ host_ips[vm_name] }}
{% endfor %}
{% endfor %}

{% for grouper, list in virtual_machines|groupby('node_type') %}
[{{ grouper }}]
{% for server in list %}
{% set vm_name = (vm_name_prefix | default("")) +  server.name %}
{{ vm_name }}
{% endfor %}

{% endfor %}
[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_user={{ vm_image_user }}
{% if ssh_proxy_command is defined %}
ansible_ssh_common_args='{{ ssh_proxy_command }}'
ansible_ssh_private_key_file={{ use_local_sshprivatekey_path }}
{% else %}
ansible_ssh_private_key_file={{ ssh_private_key }}
{% endif %}
